html{
    
    height: 100%;
    width: 100%;
}

body{
    height: 98%;
    width: 98%;
    position: absolute;
    /* left: 50%;
    right: 50%;
    transform: translate(-50%,-50%); */
    background: rgb(126, 126, 189);

}




#textAndImg{
    position: absolute;
    
    left: 50%;
    transform: translate(-50%);
    width: 700px;
}

.text{
    position: relative;
    width: 300px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 0px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
}




#img2{
    position: absolute;
    left: 80%;
    top: 20%;
    height: 250px;
    width: 300px;
    -webkit-transition: all 10s ease-in-out;
    -moz-transition: all 10s ease-in-out;
    -o-transition: all 10s ease-in-out;
    -ms-transition: all 10s ease-in-out;
    transition: all 10s ease-in-out; 
}

#img2:hover{
    content: url("./images/brainrot.jpg");
    height: 250px;
    width: 300px;
}

#favGames{
    position: absolute;
    top: 50%;
    left: 5%;
}

#games{
    width: 308px;
    border: 5px solid rgba(67, 64, 64, 0.796);
    height: 204px;
}

.img{
    position: relative;
    height:100px;
    width: 100px;
}

#sild{
    text-align: right;
    position: absolute;
    top: 50%;
    right: 5%;
}

.otherIMgs{
    position: relative;
    height:100px;
    width: 100px; 
}

#imagesOtherstuffilikedoing{
    width: 308px;
    border: 5px solid rgba(67, 64, 64, 0.796);
    height: 100px;
}